html,
body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, rgb(50, 36, 64), rgb(18, 33, 66), rgb(23, 34, 67), rgb(5, 12, 22));
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: "gill sans", san-serif;
}

/* Logo.tsx */
.image-inverted {
  filter: invert(100%);
}

/* NavigationLink.tsx */
.nav-link{
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

/* CustomizedInput.tsx */
.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

/* Login/Signup Card Sliding Motion */
.slide-top{
  -webkit-animation:slide-top 0.6s cubic-bezier(.25,.46,.45,.94) both;
  animation:slide-top 0.6s cubic-bezier(.25,.46,.45,.94) both
}

@-webkit-keyframes slide-top{
  0%{
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }
  100%{
    -webkit-transform:translateY(-150px);
    transform:translateY(-150px)
  }
}

@keyframes slide-top{
  0%{
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }
  100%{
    -webkit-transform:translateY(-150px);
    transform:translateY(-150px)
  }
}

/* Login/Signup Card Wave */
.e-card {
  margin: auto;
  background: transparent;
  box-shadow: 10px 10px 20px #011;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 700px;
  height: 900px;
  opacity: 0.6;
  margin-top: -70%;
  background: linear-gradient(to right,#af40ff,#5b42f3 60%,#00ddeb);
  /* background: linear-gradient(to right, #00FFA3, #3f93bf, #DC1FFF); */
  /* background: linear-gradient(744deg,rgb(156, 103, 178),rgb(47, 79, 144) 60%); */
}

.wave:nth-child(2){
  width: 600px;
  height: 600px;
  top: 400px;
}
.wave:nth-child(3) {
  top: 150px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 12000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 10000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 7000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Login/Signup Button Animation */
.log-btn {
  margin-top: 12px;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 20px;
  background: rgb(255, 255, 255);
  color: blueviolet;
  border-radius: .5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 0.5s;
  transition-property: border-top, 
     border-left, 
     border-bottom,
     border-right,
     box-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .log-btn:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
 }

.log-svgIcon {
  height: 25px;
  transition-duration: 1.2s;
  margin-right: 10px;
}

.log-btn:hover .log-svgIcon {
  transform: rotate(-270deg);
  transition-duration: 1.2s;
}

/* Header Button Animation */
.header-btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 2px solid rgb(133, 84, 182);
  box-shadow: 2px 2px 0 0 rgba(81, 55, 176, 0.645);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  /* box-shadow: 0 0 0 0 transparent; */
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.header-btn:hover {
  /* background: rgb(147, 56, 251); */
  background: linear-gradient(to right, rgb(147, 56, 251), #DC1FFF);
  box-shadow: 0 0 10px 5px rgba(124, 46, 214, 0.827);
  border: 2px solid rgb(147, 56, 251);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.header-btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.header-btn::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.header-btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* Clear Chat Button */
.clearChat-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.clearChat-svgIcon {
  width: 20px;
  transition-duration: .4s;
}

.clearChat-btn:hover {
  width: 140px;
  border-radius: 15px;
  transition-duration: .8s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.clearChat-btn:hover .clearChat-svgIcon {
  width: 50px;
  transition-duration: .8s;
  transform: translateY(60%);
  fill: rgb(255, 255, 255);
}

.clearChat-btn::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .8s;
  font-size: 2px;
}

.clearChat-btn:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .8s;
}

.chat-container {
  width: 100%;
  height: 60vh;
  border-radius: 3px;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth;
}

/* Transparent Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

:-webkit-scrollbar-track {
  background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Chat Input */
.chat-input {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 1vw;
  /* max-width: 190px; */
  transition: .4s;
  margin-left: 20px;
  background-color: transparent;
  width: 100%;
}

.chat-input:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.chat-input:focus {
  box-shadow: 0 0 0 .15vw skyblue;
}

.chat-header {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: blue; */
}

/* Chat Left Container */
.chat-leftContainer {
  display: flex;
  width: 220px;
  margin-top: 70px;
  margin-left: 40px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.chat-leftContainerInner {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  /* background-color: #00ddeb; */
}

.chat-leftContainer:hover {
  transform: scale(1.04) rotate(1deg);
}

.chat-leftContainerCircle {
  width: 120px;
  height: 120px;
  background: radial-gradient(#af40ff,#5b42f3 60%,#00ddeb);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.chat-leftContainerCircle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.chat-leftContainerCircle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-20px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(20px);
  }
}

/* Chat Delete Button */
.chatDelete-btn {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #b42525;
  margin: auto;
 }
 
 .chatDelete-btn span {
  transition: 200ms;
 }
 
 .chatDelete-btn-text {
  transform: translateX(13px);
  color: white;
  font-weight: 700;
  font-size: 12px;
  /* margin-left: -25px; */
 }
 
 .chatDelete-btn-icon {
  position: absolute;
  border-left: 1px solid #902121;
  transform: translateX(105px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: -25px; */
 }
 
 .chatDelete-btn svg {
  width: 15px;
  fill: #eee;
 }
 
 .chatDelete-btn:hover {
  background: #bf2828;
 }
 
 .chatDelete-btn:hover .chatDelete-btn-text {
  color: transparent;
 }
 
 .chatDelete-btn:hover .chatDelete-btn-icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 .chatDelete-btn:focus {
  outline: none;
 }
 
 .chatDelete-btn:active .chatDelete-btn-icon svg {
  transform: scale(1);
 }